{% load staticfiles %}

<html>
	<head>
		<title>hey girl hey</title>
		<link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static 'css/blurgh.css' %}">
	</head>

	<body>
		{% if user.is_authenticated %}
			<a href="{% url 'post_new' %}" class="top-menu">+ new post</a>
		{% endif %}

		<h1><img src="{% static 'images/at-sign.gif' %}" id="at-sign">hancush</h1>

		{% block content %}
		{% endblock %}
	</body>
</html>